* { box-sizing: border-box; }
body {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    font-size: medium;
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.activity-data {
    height: 350px;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
li {
    display: inline-block;
}
table {
    margin-top: 10px;
}
.total-executed {
    display: inline-block;
}
#logCsv, #export {
    display: inline-block;
    margin-left: 10px;
}
#reset-confirm {
    float: right;
}
#data-cleared-alert{
    padding: 10px 35px 10px 10px;
}